<div class="container" *ngIf="accounts && accounts.length">
    <div class="row">
        <div class="col-xs-12 col-12">
            <div class="content-wrapper">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>User Login Id</th>
                            <th>DLT Account Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of accounts">
                            <td>
                                {{account.userLoginId}}
                            </td>
                            <td>
                                {{account.address}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>