<div class="container" *ngIf="deployedInstance" style="margin-top: 20px">
    <div class="row" style="border-bottom: 1px solid #dedede">
        <div class="col-md-8">
            <h5>
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Deployed Instances
            </h5>
        </div>
    </div>
    <div class="row" *ngIf="deployedInstance" style="margin-top: 20px;">
        <div class="col-md-4">
            <span>
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
                Name: {{deployedInstance.smartContract.name}}
            </span>
        </div>
        <div class="col-md-4">
            <span>
                <i class="fa fa-user" aria-hidden="true"></i>
                Created by: {{deployedInstance.smartContract.createdByUserLoginId}}
            </span>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary float-right" (click)="navigateToDeployContract()">
                <i class="fa fa-plus" aria-hidden="true"></i> Deploy
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 30px" *ngIf="deployedInstance && deployedInstance.smartContractDeployedInstanceItems && deployedInstance.smartContractDeployedInstanceItems.length">
        <div class="col-xs-12 col-12">
            <div class="content-wrapper" style="border: 1px solid #dedede">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Display Name</th>
                            <th>Deployed Address</th>
                            <th>Deployed By</th>
                            <th>Initial Data</th>
                            <th>State</th>
                            <th>Datetime</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let instanceItem of pagedSmartContractInstanceItems">
                            <td>{{instanceItem.deployedInstanceDisplayName}}</td>
                            <td>{{instanceItem.deployedAddress}}</td>
                            <td>{{instanceItem.deployByUserLoginId}}</td>
                            <td>{{instanceItem.initialData}}</td>
                            <td>TBD</td>
                            <td>{{instanceItem.createdDatetime}}</td>
                            <td>
                                <a href="javascript:void(0)" [routerLink]="['./action/', instanceItem.smartContractInstanceId]">
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a href="javascript:void(0)" title="View Transactions" (click)="openModal(template, instanceItem.smartContractInstanceId)">
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" title="View Transactions" (click)="openModal(template2, instanceItem.smartContractInstanceId)">
                                    <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pill-left"> Transactions for deployed instance</h4>
        <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Transaction User</th>
                    <th>Function</th>
                    <th>Transaction Hash</th>
                    <th>Datetime</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let smartContractTransaction of smartContractTransactions">
                    <td>{{smartContractTransaction.transactionUser}}</td>
                    <td>{{smartContractTransaction.smartContractFunction}}</td>
                    <td>
                        <textarea>
                            {{smartContractTransaction.transactionHash}}
                        </textarea>
                    </td>
                    <td>{{smartContractTransaction.createdDatetime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #template2>
    <div class="modal-header">
        <h4 class="modal-title pill-left"> Smart contract operations</h4>
        <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="margin-bottom: 20px;">
            <div style="margin-bottom: 5px;">
                <span>
                    Invoked smart contract smart contract operation sequences
                </span>
            </div>
            <div *ngFor="let smartContractTransaction of smartContractTransactions; let lastItem = last" style="display:inline-block">
                <div class="dot" style="margin:10px">
                    <span>
                        {{smartContractTransaction.smartContractFunction}}
                    </span>
                    <i *ngIf="!lastItem" class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 10px; border-top: 1px solid #dedede">
            <div style="margin-top: 10px">
                <span>
                    Other available smart contract operations
                </span>
                <span *ngFor="let nonExecutedFunc of nonExecutedFuncsSet">
                    <div class="dot darkdot" style="margin: 10px">
                        {{nonExecutedFunc}}
                    </div>
                </span>
            </div>
        </div>
    </div>
</ng-template>